.admin-orders-container {
  min-height: calc(100vh - 80px);
}

.admin-orders-daypicker {
  min-width: 230px;
}

.admin-orders-button {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
}

.admin-orders-offcanvas {
  --bs-offcanvas-width: 800px;
}

.admin-orders-product-img {
  height: 100px;
}

.admin-orders-is-paid-container {
  width: 134px;
}
.admin-orders-is-paid-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba($primary, 0.5);
}
.admin-orders-is-paid-radio {
  & + label {
    cursor: pointer;
    color: $neutral-300;
  }
  &:checked + label {
    color: $white;
    background-color: $primary;
    border-color: $primary !important;
  }
  &:disabled + label {
    cursor: not-allowed;
    color: $neutral-300;
    background-color: $neutral-200;
    border-color: $neutral-300 !important;
  }
  &:disabled:checked + label {
    color: $neutral-400;
    background-color: $neutral-300;
  }
}

.admin-orders-delete-dropdown {
  .dropdown-toggle::after {
    display: none;
  }
  .dropdown-menu.show {
    display: flex;
  }
  .dropdown-menu.show::before,
  .dropdown-menu.show::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    right: 15px;
    border: 5px solid;
  }
  // 當 Dropdown.Menu 在 Toggle 下方時（預設位置）
  .dropdown-menu.show[data-popper-placement^='bottom'] {
    margin-top: 4px;
  }
  .dropdown-menu.show[data-popper-placement^='bottom']::before {
    top: -12px;
    border-color: transparent transparent $danger-100 transparent;
  }
  .dropdown-menu.show[data-popper-placement^='bottom']::after {
    top: -9px;
    border-color: transparent transparent #fff transparent;
  }
  // 當 Dropdown.Menu 在 Toggle 上方時（空間不足時自動調整）
  .dropdown-menu.show[data-popper-placement^='top'] {
    margin-bottom: 4px;
  }
  .dropdown-menu.show[data-popper-placement^='top']::before {
    bottom: -12px;
    border-color: $danger-100 transparent transparent transparent;
  }
  .dropdown-menu.show[data-popper-placement^='top']::after {
    bottom: -9px;
    border-color: #fff transparent transparent transparent;
  }
}
