.admin-orders-container {
  min-height: calc(100vh - 80px);
}

.admin-orders-daypicker {
  min-width: 230px;
}

.admin-orders-button {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
}

.admin-orders-offcanvas {
  --bs-offcanvas-width: 800px;
}

.admin-orders-product-img {
  height: 100px;
}

.admin-orders-is-paid-container {
  width: 134px;
}
.admin-orders-is-paid-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba($primary, 0.5);
}
.admin-orders-is-paid-radio {
  & + label {
    cursor: pointer;
    color: $neutral-300;
  }
  &:checked + label {
    color: $white;
    background-color: $primary;
    border-color: $primary !important;
  }
  &:disabled + label {
    cursor: not-allowed;
    color: $neutral-300;
    background-color: $neutral-200;
    border-color: $neutral-300 !important;
  }
  &:disabled:checked + label {
    color: $neutral-400;
    background-color: $neutral-300;
  }
}
