.column-section .card {
  .articaleCard-img-top {
    max-height: 180px;
    @include media-breakpoint-up(lg) {
      max-height: 180px;
    }
  }
}

#curing,
#succulent,
#life {
  scroll-margin-top: 120px; // 根據navbar高度微調
}

.column-anchor {
  scroll-margin-top: 60px;
  @include media-breakpoint-up(lg) {
    scroll-margin-top: 100px;
  }
}
