.custom-pagination {
  .disabled-break {
    pointer-events: none;
  }

  .page-link {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    border-radius: 50%;
  }

  .page-nav-link {
    &:focus {
      background-color: transparent;
    }
    &:focus-visible {
      background-color: $primary-50;
      outline: revert;
    }
    &:hover:focus {
      background-color: $primary-50;
    }
    &:active {
      color: $primary-600;
    }
    &:active:focus {
      background-color: $primary-50;
    }
  }
}
