.swiper {
  width: 100%;
  // height: 300px;
  margin-left: auto;
  margin-right: auto;

  @include media-breakpoint-up(lg) {
    max-height: 468px;
  }
}

.mySwiper2 {
  height: 100%;
  width: 100%;
}

.swiper-slide {
  // text-align: center;
  // font-size: 18px;
  // background: #444;
  display: flex;
  justify-content: center;
  align-items: center;

  background-size: cover;
  background-position: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

  object-position: center;
}

.mySwiper {
  height: 100%; // 20%;
  // box-sizing: border-box;
  padding-top: 24px;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 140px; // 100%;
  opacity: 0.4;
}

.mySwiper2 .swiper-slide img {
  @include media-breakpoint-up(lg) {
    transform: translateY(-20%);
  }
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-pagination {
  --swiper-pagination-bottom: 12px;

  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 4px;
  background: $primary-600;
  opacity: 0.4;
  border-radius: 100px;
}

.swiper-pagination-bullet-active {
  width: 48px;
  opacity: 1;
}

// breadcrumb

.breadcrumb-item + .breadcrumb-item::before {
  // font-family: 'material symbols rounded';
  // font-weight: normal;
  // font-style: normal;
  // font-size: 20px;
  // line-height: 1;
  // letter-spacing: normal;
  // text-transform: none;
  // display: inline-block;
  // white-space: nowrap;
  // word-wrap: normal;
  // direction: ltr;
  // font-feature-settings: 'liga';
  // -webkit-font-feature-settings: 'liga';
  // -webkit-font-smoothing: antialiased;
}

// content

.add-on-display {
  flex: 1;
}

.add-on-img-container {
  max-width: 170px;
  height: 100px;
  overflow: hidden;

  @include media-breakpoint-up(lg) {
    max-width: 160px;
  }
}

.add-on-img-container img {
  // width: 100%;
  transform: translateY(-10%);
}

.counter-sm {
  @include media-breakpoint-up(lg) {
    width: 44px;
  }
}

.counter {
  @include media-breakpoint-up(lg) {
    width: 48px;
  }
}

.btn-circle-sm {
  width: 40px;
  height: 40px;
}

.btn-circle-lg {
  width: 56px;
  height: 56px;
}
