.admin-sidemenu-accordion {
  // 移除 Accordion Header 預設的邊框
  .accordion-button:focus {
    box-shadow: none;
  }
  // 移除 Accordion Header 預設展開時的背景色
  .accordion-button:not(.collapsed) {
    background-color: transparent;
    box-shadow: none;
  }

  // Material Symbols 箭頭圖示樣式
  .admin-sidemenu-accordion-icon {
    margin-left: auto;
    font-size: 1.25rem;
    transition: transform 0.3s ease;
    color: $neutral-400;
  }
  // 展開時旋轉箭頭
  .accordion-button:not(.collapsed) .admin-sidemenu-accordion-icon {
    transform: rotate(180deg);
  }

  .admin-sidemenu-accordion-link {
    color: $neutral-700;
  }
  .accordion-body .admin-sidemenu-accordion-link {
    color: $neutral-400;
  }
  .admin-sidemenu-accordion-link {
    &:hover {
      background-color: $primary-50;
      color: $primary-700;
    }
    &.active {
      background-color: $primary-50;
      color: $primary-700;
    }
  }
}
